---
import Layout from "../layouts/Layout.astro";

const title = "Ajibola Awotide";
---

<Layout title={title}>
    <p>Hi there, I am a software developer passionate about tackling problems that require massive efficiency.</p>
    <p>
        This blog is where I explore the challenging and fascinating intersection of
        <strong>parallel computing, distributed systems, data science and AI.</strong>
    </p>
    <p>
        I primarily build using <strong>Python</strong> and <strong>TypeScript</strong>. I am currently looking into the
        <strong>Zig programming language</strong> to bring high-performance and low-level power into my programming toolkit.
    </p>
</Layout>

<style>
    p {
        font-size: 1rem;
        line-height: 1.5rem;
    }
</style>
