---
import Github from "../assets/github.svg";
import Linkedin from "../assets/linkedin.svg";
import EMail from "../assets/email.svg";
---

<script>
    document.querySelectorAll(".link").forEach((link) => {
        if (link instanceof HTMLElement) {
            if (link.dataset.path === window.location.pathname) {
                link.classList.add("active");
            }
            const path = window.location.pathname;
            console.log(path);
            return path;
        }
    });
</script>

<div id="container">
    <div id="header">
        <h1>Ajibola Awotide</h1>
        <ul id="social-links">
            <li>
                <a href="https://github.com/builtbyjb" target="_blank"> <Github /></a>
            </li>
            <li>
                <a href="https://linkedin.com/in/ajibolaawotide" target="_blank"> <Linkedin /> </a>
            </li>
            <li>
                <a href="mailto:ajibolaawotide@gmail.com" target="_blank"> <EMail /> </a>
            </li>
        </ul>
    </div>
    <ul id="nav-links">
        <li class="link" data-path="/"><a class="nav-link" href="/">Home</a></li>
        <li class="link" data-path="/blog"><a class="nav-link" href="/blog">Blog</a></li>
        <li class="link"><a class="nav-link" href="/ajibola_awotide.pdf" target="_blank">Resume</a></li>
    </ul>
</div>

<style>
    #container {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    #header ul {
        padding-left: 0;
    }

    h1 {
        font-size: 1.5rem;
    }

    #social-links {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    #social-links li {
        list-style-type: none;
    }

    #nav-links {
        top: 0;
        z-index: 1;
        position: sticky;
        border-radius: 10px;
        border: 1px solid #ccc;
        padding: 1rem;
        margin: 0;
        display: flex;
        align-items: center;
        gap: 1rem;
        width: fit-content;
    }

    #nav-links li {
        list-style-type: none;
    }

    .active {
        border-bottom: 2px solid #333;
    }

    a {
        text-decoration: none;
        color: #333;
    }

    @media (min-width: 500px) {
        #header {
            display: flex;
            align-items: center;
        }

        #header ul {
            padding-left: 2rem;
        }
    }
</style>
