---
import Root from "./Root.astro";
import Navbar from "../components/Navbar.astro";
import PostHog from "../components/Posthog.astro";

const { title, description } = Astro.props;
const year = new Date().getFullYear();
---

<Root title={title} description={description}>
    <PostHog />
    <Navbar />
    <main>
        <slot />
    </main>
    <p id="copyright">Copyright © {year} Ajibola Awotide. All rights reserved.</p>
</Root>

<style>
    main {
        min-height: 40vh;
    }

    p {
        margin-top: 50px;
        font-size: 13px;
    }
</style>
