---
import Root from "./Root.astro";
import Navbar from "../components/Navbar.astro";

const { title } = Astro.props;
const year = new Date().getFullYear();
---

<Root title={title}>
    <Navbar />
    <main>
        <slot />
    </main>
    <p id="copyright">Copyright © {year} Ajibola Awotide.</p>
</Root>

<style>
    main {
        min-height: 40vh;
    }

    p {
        font-size: 11px;
    }
</style>
