---
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
        <link rel="manifest" href="/favicon/site.webmanifest" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
            rel="stylesheet"
        />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <!-- TODO: Add description -->
    </head>
    <body id="body">
        <slot />
    </body>
</html>

<style>
    html,
    body {
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        background-color: #ebebeb;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    #body {
        width: 90%;
        margin: 0 auto;
    }

    @media (min-width: 768px) {
        #body {
            width: 70%;
        }
    }

    @media (min-width: 1024px) {
        #body {
            width: 60%;
        }
    }

    @media (min-width: 1280px) {
        #body {
            width: 55%;
        }
    }

    @media (min-width: 1536px) {
        #body {
            width: 50%;
        }
    }
</style>
